<h1>Add Photos</h1>

<div id="photo_list">
  <ul>
    <p id="here"> </p>

  </ul>
</div>

<%= link_to "New Photo", "/owners/#{current_owner.id}/listings/#{@listing.id}/photos/new", id: "new_link", remote: true %><br />

<%= link_to "Back", "/owners/#{@listing.owner.id}/listings/#{@listing.id}" %>

