.notthere {
  width: 100px;
  background-color: lightblue;
  padding: 5px;
}

.makebutton {
  width: 100px;
  background-color: lightpink;
  padding: 5px;
  border-style: solid;
  border-color: red;
  border-radius: 20px;
  text-decoration: none;
}


.logged_in {
  position: absolute;
  top: 15px;
}
